.reader {
    background: white;
    padding-top: 2rem;
}

.reader__title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;

}

.reader_overlay {
    height: 100vh;
    position: absolute;
    top: 0;

    overflow: scroll;
}
.reader__content {
    width: 80%;
    margin: auto;
    display: block;
}


@media (min-width: 1024px) {
    .reader__content {
        width: 75%;
    }
}

@media (min-width: 1300px) {
    .reader__content {
        width: 1024px;
    }
}
