.home-page__book-cover {
    width: 100px;
    height: 150px;
    font-size: 0.8em;
}
.home-page__book-cover-title {
    font-size: 1.3em;
}

@media (min-width: 800px) {
    .home-page__book-cover {
        width: 150px;
        height: 225px;
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .home-page__book-cover {
        font-size: 1.5em;
    }
    .home-page__book-cover-title {
        font-size: 2.4em;
    }
}
