.button {
    --button-color: var(--color-rgb-primary);
    --button-alpha: 0.7;

    background: none;
    border: 2px solid rgba(var(--button-color), var(--button-alpha));
    color: rgb(var(--button-color), var(--button-alpha));

    padding: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.button:hover {
    --button-alpha: 0.6;
}
.button:focus {
    --button-alpha: 0.8;
}
.button:active {
    --button-alpha: 1;
}


.button_danger {
    --button-color: var(--color-rgb-ui-danger-dim);
    --button-on-color: var(--color-rgb-on-ui-danger-dim);
}


.button_primary {
    --button-color: var(--color-rgb-primary);
    --button-alpha: 0.5;
    background: rgba(var(--button-color));
    color: rgba(var(--color-rgb-on-primary));
}
.button_primary:hover {
    filter: brightness(0.8);
}
.button_primary:active {
    filter: brightness(0.6);
}
