.button {
    background: white;
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    display: inline-block;
    color: var(--color-primary);
}

.button:hover {
    background: var(--color-primary-dim);
    color: white;
}

.button:active {
    background: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    color: white;
}

.button_danger {
    border-color: var(--color-ui-danger-dim);
    color: var(--color-ui-danger-dim);
}

.button_danger:active {
    background: var(--color-ui-danger-dark);
    border-color: var(--color-ui-danger-dark);
    color: white;
}

.button_danger:hover {
    background: var(--color-ui-danger-dim);
    color: white;
}

