.preloader {
  --preloader-background: white;
  --preloader-spinner-color: rgb(var(--color-rgb-primary));
  --preloader-text-color: var(--preloader-spinner-color);

  display: inline-block;
  position: relative;
  background: var(--preloader-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader:before {
  content: "Libraverse is loading...";
  font-size: 1.5rem;
  color: var(--preloader-text-color);
}
.preloader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--preloader-spinner-color);
  border-color: var(--preloader-spinner-color) transparent var(--preloader-spinner-color) transparent;
  animation: preloader 1.2s infinite;
}
.preloader_fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

@keyframes preloader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

