.tag {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    background: none;
    align-items: center;

    font-size: 1rem;
    --tag-color: var(--color-primary);
    --tag-icon-color: var(--tag-color);
    --tag-text-color: var(--tag-color);
    --tag-icon-display: inline-block;
    --tag-icon-font-weight: bold;
    --tag-hover-icon-display: inline-block;
    --tag-hover-icon-font-weight: bold;
}
.tag:hover {
    --tag-icon-font-weight: var(--tag-hover-icon-font-weight);
    --tag-icon-display: var(--tag-hover-icon-display);
}

.tag__text {
    color: var(--tag-text-color);
    margin: 0;
    line-height: 1;
    text-align: center;
}
.tag__value {
    order: 0;
    line-height: 1;
}
.tag__icon {
    order: 1;
    font-style: normal;
    font-weight: var(--tag-icon-font-weight);
    display: var(--tag-icon-display);
    font-size: 1.5em;
    line-height: 1;
    color: var(--tag-icon-color);
}

.tag__icon_solid {
    --tag-icon-font-weight: bold;
    --tag-icon-display: none;
    --tag-hover-icon-display: inline-block;
}
.tag__icon_outline {
    --tag-icon-font-weight: bold;
    --tag-icon-display: inline-block;
    --tag-hover-icon-display: none;
}

.tag__title {
    order: 2;
    line-height: 1;
}
.tag_true__text {
    color: var(--color-ui-ok);
}
.tag_false__text {
    color: var(--color-ui-danger-dim);
}
.tag_false__icon {
    color: var(--color-ui-danger-dim);
}
.tag_true__icon {
    color: var(--color-ui-ok-dim);
}

/** tag_action */
.tag_action {
    cursor: pointer;
    --tag-hover-icon-font-weight: bold;
    --tag-hover-icon-display: inline-block;
    --tag-icon-font-weight: normal;
}
.tag_action__icon {
    cursor: pointer;
}
.tag_action__icon-outline {
    --tag-icon-font-weight: bold;
}

/** tag_flex */
.tag_flex {
    height: 28px;
    flex-direction: row;
    grid-gap: 0.5em;
}
.tag_flex__icon {
    order: 0;
}
.tag_flex__value {
    order: 1;
}

/** tag sizes */
.tag_small {
    font-size: 0.8rem;
}
.tag_tiny {
    font-size: 0.6rem;
}
