.book-preview {
    --preview-height: 360px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: min-content auto;
}
.book-preview__book-title {
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.2em;
}
.book-preview__author {
    font-size: 0.8em;
}

.book-preview_thumbnail {
    --preview-height: 180px;
}

.book-preview__item {
    height: var(--preview-height);
    overflow: hidden;
}

.book-preview__text {
    height: var(--preview-height);
    overflow: hidden;
}

.book-preview-list {
}
