.book-cover {
    position: relative;
    border-radius: 5px;
    width: 240px;
    height: 360px;
    font-size: 1.5em;
    padding-top: 2rem;

    box-sizing: border-box;

    background: rgb(var(--color-rgb-primary));
    filter: brightness(95%);
}
.book-cover__item {
    border-radius: 5px;
}
.book-cover__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-cover__text {
    height: 100%;
    word-break: break-word;
    text-align: center;
    color: rgb(var(--color-rgb-on-primary-dark));
    font-weight: bold;
}

.book-cover__title {
    margin: 0;
    font-size: 2.4em;
    text-align: center;
    font-weight: bold;
    width: 90%;
    height: 250px;
    margin: auto;
    overflow: hidden;
}

.book-cover__author {
    position: absolute;
    bottom: 1.5em;
    width: 100%;
    left: 0;
    margin: 0;
    text-align: center;

    padding: 0 0.5em;
    box-sizing: border-box;
    font-size: 0.8em;
}

.book-cover__for-sale-sign {
    display: block;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    background: rgb(var(--color-rgb-secondary));
}
@media (min-width: 1024px) {
    .book-cover {
        width: 240px;
        height: 360px;
    }
}
