.book-cover {
    position: relative;
    border-radius: 5px;
    width: 240px;
    height: 360px;
    font-size: 1.5em;

    box-sizing: border-box;

    background: var(--color-primary-dark);
}
.book-cover__item {
    border-radius: 5px;
}
.book-cover__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-cover__text {
    word-break: break-word;
    text-align: center;
    color: var(--color-on-primary-dark);
    font-weight: bold;
}

.book-cover__title {
    margin: 0;
    font-size: 2.4em;
}

.book-cover__author {
    position: absolute;
    bottom: 1em;
    width: 100%;
    left: 0;
    margin: 0;
}

.book-cover__for-sale-sign {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    background: var(--color-brand-main);
}
@media (min-width: 1024px) {
    .book-cover {
        width: 240px;
        height: 360px;
    }
}
