.image-editor__windows {
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    grid-gap: 2em;
}

.image-editor__control {
}

.image-editor__font-picker {
    padding: 0.8em;
    display: block;
}
.image-editor__font-control-group {
    margin-top: 1em;
    margin-bottom: 1em;
}
.image-editor__font-control_tag {
    width: 2rem;
}
.image-editor__font-control {
    margin-right: 1em;
    font-weight: bold;
}

.image-editor__canvas {
    position: relative;
    box-sizing: border-box;
}
.image-editor__canvas:focus {
    border: 2px solid black;
}
.image-editor__layer {
    box-sizing: border-box;
    display: block;
    border: 1px solid var(--color-primary-dim);
    top: 0;
    left: 0;
}
.image-editor__layer0 {
    position: absolute;
    z-index: 1;
}
.image-editor__section-title {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}
.image-editor__canvas-group {
    box-sizing: border-box;
    order: 0;
}
.image-editor__dashboard1 {
    order: 1;
}
.image-editor__dashboard2 {
    order: 2;
}

.image-editor__background-layer {
}
.image-editor__text-preview {
    position: absolute;
    top: 50%;
}
.image-editor__submit-group {
    padding: 2rem 0;
}
.image-editor__text-control {
    padding: 0.5em 0.2em;
    margin: 1em auto 1em;
    border-radius: 8px;
    border: 1px solid rgba(var(--color-rgb-secondary), 1);
}

@media screen and (min-width: 800px) {
    .image-editor__windows {
        flex-direction: row;
    }
    .image-editor__canvas-group {
        order: 1;
    }
    .image-editor__dashboard1 {
        order: 0;
    }
    .image-editor__canvas {
    }

    .image-editor__dashboard-group {
        display: inline-block;
    }
    .image-editor__submit-group {
        width: 100%;
    }
}

