.image-editor {
}

.image-editor__control {
}

.image-editor__canvas {
    position: relative;
}
.image-editor__canvas:focus {
    border: 2px solid black;
}
.image-editor__layer {
    display: block;
    border: 1px solid var(--color-primary-dim);
    top: 0;
    left: 0;
}
.image-editor__layer0 {
    position: absolute;
    z-index: 1;
}
.image-editor__section-title {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.image-editor__background-layer {
}
.image-editor__text-preview {
    position: absolute;
    top: 50%;
}
.image-editor__submit-group {
    padding: 2rem 0;
}
.image-editor__text-control {
    padding: 0.5em 0.2em;
    margin: 1em auto 1em;
    border-radius: 8px;
    border: 1px solid rgba(var(--color-rgb-secondary), 1);
}

@media screen and (min-width: 800px) {
    .image-editor__canvas {
        display: inline-block;
        margin-left: 2em;
    }

    .image-editor__dashboard-group {
        display: inline-block;
    }
}
