.popup {
    position: absolute;
    background: white;
}
.popup::after {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    background: var(--color-primary-lite);
    z-index: -1;
}

.popup_fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}
.popup__close {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}
