.color-picker {
    background: rgba(var(--color-rgb-secondary), 0.5);
    padding: 2em;
}
.color-picker__palette {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em;
}
.color-picker__title {
    text-align: center;
    font-weight: bold;
}

.color-picker__color {
    width: 25px;
    height: 25px;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px 0px rgba(var(--color-rgb-primary), 0.3);
}
.color-picker__color:hover {
    box-shadow: none;
}
.color-picker__radio {
    display: none;
}
.color-picker__radio:checked + .color-picker__color {
    border: 2px solid var(--color-primary-dark);
}
