<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Libraverse</title>
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
    <link href='/styles/general.css' rel='stylesheet' />
    <link href='/styles/home.css' rel='stylesheet' />
    <link rel="icon" type="image/x-icon" href="/assets/logo.ico" />
    <script src="/dependencies/vue3.global.js"></script>
  </head>

  <body>
    <div id='menu'></div>
    <div id='home' class='page home-page'>
      <header class='hero'>
        <div v-if='books.featured.length > 0'>
          <div class='hero__text'>
            <p class='hero__title'>{{ books.featured[0].title }}</p>
            <p class='hero__subtitle' v-if='books.featured[0].author.name'>{{ books.featured[0].author.name }}</p>
            <p class='hero__subtitle' v-else-if='books.featured[0].author.username'>{{ books.featured[0].author.username }}</p>
          </div>
          <img class='hero__image' v-if='books.featured[0].cover' :src='books.featured[0].cover' />
        </div>
        <div class='hero__text' v-else>
          <p class='title'>Welcome to Libraverse</p>
          <p class='hero__subtitle'>Welcome to the library verse. Whether you want to create and/or read books, this is the perfect place for you</p>
        </div>
      </header>

      <div id='books'>
        <section class='page__item' v-if='books.continueReading.length > 0'>
          <h3>Continue Reading</h2>
          <div class='carousel'>
            <a v-for='book in books.continueReading.slice(0,5)' target='_blank' :href='"/book/" + book.id' class='carousel__item'>
              <div class='home-page__book-thumbnail book-cover book-thumbnail'>
                <img v-if='book.cover' :src='book.cover' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-image' />
                <div v-else role='img' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-text'>
                  <p class='book-thumbnail__title home-page__book-thumbnail-title'>{{ book.title }}</p>
                  <p v-if='book.author.name' class='book-thumbnail__author'>{{ book.author.name }}</p>
                  <p v-else-if='book.author.username' class='book-thumbnail__author'>@{{ book.author.username }}</p>
                </div>
                <p class='book-thumbnail__for-sale-sign' v-if='book.forSale && book.tokenContract'>$$</p>
              </div>
            </a>
          </div>
        </section>

        <section class='page__item'>
          <h3>Popular</h2>
          <div class='list book-preview-list'>
            <a v-for='book in books.popular.slice(0,3)' target='_blank' :href='"/book/" + book.id' class='book-preview list__item'>
              <div class='home-page__book-thumbnail book-thumbnail book-preview__image'>
                <img v-if='book.cover' :src='book.cover' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-image' />
                <div v-else role='img' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-text'>
                  <p class='book-thumbnail__title'>{{ book.title }}</p>
                  <p v-if='book.author.name' class='book-thumbnail__author'>{{ book.author.name }}</p>
                  <p v-else-if='book.author.username' class='book-thumbnail__author'>@{{ book.author.username }}</p>
                </div>
                <p class='book-thumbnail__for-sale-sign' v-if='book.forSale && book.tokenContract'>$$</p>
              </div>
              <div class='book-preview__text'>
                <p class='book-preview__book-title'>{{ book.title }}</p>
                <p>{{ book.description }}</p>
              </div>
            </a>
          </div>
        </section>

        <section class='page__item'>
          <h3>Top Free</h2>
          <div class='carousel'>
            <a v-for='book in books.topFree.slice(0,5)' target='_blank' :href='"/book/" + book.id' class='carousel__item'>
              <div class='home-page__book-thumbnail book-thumbnail'>
                <img v-if='book.cover' :src='book.cover' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-image' />
                <div v-else role='img' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-text'>
                  <p class='book-thumbnail__title'>{{ book.title }}</p>
                  <p v-if='book.author.name' class='book-thumbnail__author'>{{ book.author.name }}</p>
                  <p v-else-if='book.author.username' class='book-thumbnail__author'>@{{ book.author.username }}</p>
                </div>
                <p class='book-thumbnail__for-sale-sign' v-if='book.forSale && book.tokenContract'>$$</p>
              </div>
            </a>
          </div>
        </section>

        <section class='page__item'>
          <h3>Top Paid</h2>
          <div id='book-grid' class='grid'>
            <a v-for='book in books.topPaid.slice(0,5)' target='_blank' :href='"/book/" + book.id'>
              <div class='home-page__book-thumbnail book-thumbnail'>
                <img v-if='book.cover' :src='book.cover' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-image' />
                <div v-else role='img' :alt='book.title' class='book-thumbnail__item book-thumbnail__cover-text'>
                  <p class='book-thumbnail__title'>{{ book.title }}</p>
                  <p v-if='book.author.name' class='book-thumbnail__author'>{{ book.author.name }}</p>
                  <p v-else-if='book.author.username' class='book-thumbnail__author'>@{{ book.author.username }}</p>
                </div>
                <p class='book-thumbnail__for-sale-sign' v-if='book.forSale && book.tokenContract'>$$</p>
              </div>
            </a>
          </div>
        </section>
      </div>

      <section class='cta'>
        <p class='cta__title'>Start writing today!</p>
        <p class='cta__copy'>Share your stories with the world! Sign up to start writing your book</p>
        <div class='cta__button-group'>
          <a href='/login' class='cta-button button'>Sign up</a>
        </div>
      </section>
    </div>

    <script type='module' src='/home.vue.js'></script>
    <script type='module' src='/shared/menu.vue.js'></script>
  </body>
</html>

