<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Login | Libraverse</title>
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/logo.ico" />
    <link href='/dist/styles/min.css' rel='stylesheet' />
    <script src="/dependencies/vue3.global.js"></script>
  </head>

  <body class='page'>
    <div id='site-preloader' class='preloader preloader_fullscreen'></div>
    <div id='menu'></div>
    <div id='login' class='login-page'>
      <div class='site-logo login-page__site-logo'>
        <img class='site-logo__image' src='/assets/logo.png' />
      </div>
      <p class='page-title login-page__page-title'>
      <span v-if='!showSignup'>Sign in to</span>
      <span v-else>Create an account on</span>
      Libraverse</p>
      <form @submit.prevent class='form login-page__item form_login'>
        <div class='notice notice_error' v-if='error'>
          <p class='notice__message notice_error__message'>
          <span v-if='error.message'>
            {{ error.message }}
          </span>
          <span v-else-if='typeof error == "string"'>
            {{ error }}
          </span>
          </p>
        </div>

        <div class='form_login__body'>
          <label class='input-group form_login__input-group'>
            <span class='input-group__label'>Username</span>
            <input class='form_login__input-control input-group__control' type='text' v-model='username' placeholder='Username' />
          </label>

          <label class='input-group form_login__input-group'>
            <span class='input-group__label'>Password</span>
            <input class='form_login__input-control input-group__control' type='password' v-model='password' placeholder='Password' />
          </label>

          <div class='actions' v-if='showSignup'>
            <button class='button form_login__submit' @click='signup'>Sign up</button>
          </div>

          <div class='actions' v-else>
            <button class='button form_login__submit' @click='login'>Login</button>
          </div>
        </div>

        <div class='login__switch-context'>
          <p class='' v-if='showSignup'>
          <span >
            Have an account?
            <button type='button' class='link' @click='showSignup=false'>Login instead</button></p>

          <p class='' v-else> New here?
          <button type='button' class='link' @click='showSignup=true'>Sign up instead</button>
          </p>
        </div>

      </form>
    </div>
    <script type='module' src='/login.vue.js'></script>
    <script type='module' src='/shared/menu.vue.js'></script>
  </body>
</html>

