<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Login | Libraverse</title>
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
    <link href='/styles/general.css' rel='stylesheet' />
    <script src="/dependencies/vue3.global.js"></script>
  </head>

  <body>
    <div id='menu'></div>
    <div id='login'>
      <form @submit.prevent>
        <label>Username
          <input type='text' v-model='username' placeholder='Username' />
        </label>

        <label>Password
          <input type='password' v-model='password' placeholder='Password' />
        </label>

        <div class='actions' v-if='showSignup'>
          <button @click='signup'>Sign up</button>
          <button type='button' class='link' @click='showSignup=false'>Have an account? Login</button>
        </div>

        <div class='actions' v-else>
          <button @click='login'>Login</button>
          <button type='button' class='link' @click='showSignup=true'>New here? Sign up instead</button>
        </div>

            <connect-wallet title='Connect your ethereum wallet'>
            </connect-wallet>
      </form>
    </div>
    <script type='module' src='/login.vue.js'></script>
    <script type='module' src='/shared/menu.vue.js'></script>
  </body>
</html>

