<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Login | Libraverse</title>
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/logo.ico" />
    <link href='/styles/general.css' rel='stylesheet' />
    <script src="/dependencies/vue3.global.js"></script>
  </head>

  <body>
    <div id='menu'></div>
    <div id='login' class='page login-page'>
      <form @submit.prevent class='login-form'>
        <label class='input-group'>
          <span class='input-group__label'>Username</span>
          <input class='input-group__control' type='text' v-model='username' placeholder='Username' />
        </label>

        <label class='input-group'>
          <span class='input-group__label'>Password</span>
          <input class='input-group__control' type='password' v-model='password' placeholder='Password' />
        </label>

        <div class='actions' v-if='showSignup'>
          <button class='button' @click='signup'>Sign up</button>
          <button type='button' class='link' @click='showSignup=false'>Have an account? Login</button>
        </div>

        <div class='actions' v-else>
          <button class='button' @click='login'>Login</button>
          <button type='button' class='link' @click='showSignup=true'>New here? Sign up instead</button>
        </div>

            <connect-wallet title='Connect your ethereum wallet'>
            </connect-wallet>
      </form>
    </div>
    <script type='module' src='/login.vue.js'></script>
    <script type='module' src='/shared/menu.vue.js'></script>
  </body>
</html>

