<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Dashboard | Libraverse</title>
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/logo.ico" />
    <link href='/dist/styles/min.css' rel='stylesheet' />
    <script src="/dependencies/vue3.global.js"></script>
  </head>

  <body>
    <div id='site-preloader' class='preloader preloader_fullscreen'></div>
    <div id='menu'></div>

    <div id='book-app'></div>

    <div id='dashboard' class='user-profile page'>
      <div class='user-profile__writer' v-if='writer'>
        <img :src='avatar' class='avatar user-profile-avatar user-profile__header-item' />
        <p class='user-profile__name user-profile__header-item'>{{ name }}</p>
        <p class='user-profile__username user-profile__header-item'>@{{ username }}</p>
      </div>

      <div class='dashboard' v-if='links.create_book'>
        <a class='button' href='/new-book' v-if='links.create_book'>
          Create a new book
        </a>
      </div>

      <div id='written-books' class='page__item written-books'>
        <div v-if='written'>
          <h3>Books by {{ name || username }}</h3>
          <div v-if='written.length == 0'>
            <p>You haven't written any book yet</p>
          </div>

          <div v-else class='grid'>

            <a v-for='book in written' :href='"/book/" + book.id'>
              <div class='written-books__item'>
                <div class='book-cover book-cover_thumbnail user-profile__book-cover'>
                  <img :src='book.cover' class='book-cover__image' v-if='book.cover' />
                  <div class='book-cover__text' v-else>
                    <p class='book-cover__title book-cover_thumbnail__title'>{{ book.title }}</p>
                    <p class='book-cover__author'>
                    <span v-if='book.author.name'>{{ book.author.name }}</span>
                    <span v-else-if='book.author.username'>@{{ book.author.username }}</span>
                    </p>
                  </div>
                </div>

                <div>
                  <p class='written-books__title'>{{ book.title }}</p>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>


      <div id='reading-list' class='page__item'>
        <div v-if='readingList'>
          <h3>{{ name || username }}'s Reading List</h3>
          <div v-if='readingList.length <= 0'>
            <p>You haven't started reading any books</p>
          </div>
          <div class='grid' v-else>
            <a class='grid__item' v-for='book in readingList' :href='"/book/" + book.id'>
              <div class='book-cover book-cover_thumbnail'>
                <img :src='book.cover' class='book-cover__image' v-if='book.cover' />
                <div class='book-cover__text' v-else>
                  <p class='book-cover__title book-cover_thumbnail__title'>{{ book.title }}</p>
                  <p class='book-cover__author'>
                  <span v-if='book.author.name'>{{ book.author.name }}</span>
                  <span v-else-if='book.author.username'>@{{ book.author.username }}</span>
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script type='module' src='/dashboard.vue.js'></script>
    <script type='module' src='/book.vue.js'></script>
    <script type='module' src='/shared/menu.vue.js'></script>
  </body>
</html>

