.book-page__title {
    text-align: center;
    font-weight: bold;
}
.book-page__author {
    text-align: center;
}
.book-chapter-list__item {
    width: 100%;
}

.sell-literature {
}

.sell-literature__title {
    font-size: 1.5rem;
    text-align: center;
}

.book-page__book-cover {
    margin: auto;
}
.book-page__metadata {
    padding: 3em 0 1em;
}
.sell-literature__input-group {
}

.sell-literature__input {
}

.sell-literature__submmit {
}

.sell-literature__content {
}
