.book-cover {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.book-cover > * {
    display: block;
}

.book-cover__img {
    width: 75%;
    border-radius: 5px;
}

.book-title {
    text-align: center;
    font-weight: bold;
}
.book-author {
    text-align: center;
}

.book-metadata-list {
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
}

.book-metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: 0.7em;
}

.book-metadata__title {
    order: 0;
    font-size: 0.8rem;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
}

.book-metadata__value {
    order: 1;
    font-weight: bold;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}

.book-status-tag {
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    width: max-content;
    padding: 0.4em;
    font-size: 0.9rem;
}
.book-status-tag_true {
    border-color: var(--color-ui-ok);
    color: var(--color-ui-ok);
}
.book-status-tag_false {
    border-color: var(--color-ui-dim);
    color: var(--color-ui-danger-dim);
}

.book-chapter-list__item {
    width: 100%;
}

.chapter-reader {
    background: white;
}

.chapter-reader_overlay {
    height: 100vh;
    position: absolute;
    top: 0;

    overflow: scroll;
}

.sell-literature {
}

.sell-literature__title {
    font-size: 1.5rem;
    text-align: center;
}

.sell-literature__input-group {
}

.sell-literature__input {
}

.sell-literature__submmit {
}

.sell-literature__content {
}

@media (min-width: 600px) {
}
