:root {
    --color-primary: grey;
    --color-primary-hilite: #a6a6a6;
    --color-primary-lite: lightgrey;
    --color-primary-dim: #464646;
    --color-primary-dark: #161616;

    --color-secondary: grey;
    --color-secondary-hilite: #a6a6a6;
    --color-secondary-lite: lightgrey;
    --color-secondary-dim: #464646;
    --color-secondary-dark: #232323;

    --color-brand-main: #ae8559;
    --color-brand-orange: #e86d35;
    --color-brand-red: #ca3c3b;
    --color-brand-blue: #507ec4;
    --color-brand-green: #9bd142;
    --color-brand-lightblue: #7bd3dd;

    --color-ui-ok: green;
    --color-ui-ok-hilite: #00ff00;
    --color-ui-ok-lite: lightgreen;
    --color-ui-ok-dim: darkgreen;
    --color-ui-ok-dark: #033003;

    --color-ui-warn: #ff6e00;
    --color-ui-warn-hilite: #f0791f;
    --color-ui-warn-lite: #eaa774;
    --color-ui-warn-dim: #8e5c35;
    --color-ui-warn-dark: #783400;

    --color-ui-danger:red;
    --color-ui-danger-hilite: #f02222;
    --color-ui-danger-lite: #dc6767;
    --color-ui-danger-dim: #6c3636;
    --color-ui-danger-dark: #5c0000;

    --color-text-link: blue;
}

body {
    margin: 0;
    padding: 0;
}

/** RESETsS
 */

a, a:visited, a:hover, a:focus {
    text-decoration: none;
    color: initial;
}

.button {
    background: white;
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.button:hover {
    background: var(--color-primary-dim);
    color: white;
}

.button:active {
    background: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    color: white;
}

.button_danger {
    border-color: var(--color-ui-danger-dim);
    color: var(--color-ui-danger-dim);
}

.button_danger:active {
    background: var(--color-ui-danger-dark);
    border-color: var(--color-ui-danger-dark);
    color: white;
}

.button_danger:hover {
    background: var(--color-ui-danger-dim);
    color: white;
}
.input {
    border: 2px solid var(--color-primary);
}

.link {
    color: var(--color-text-link);
    background: none;
    border: none;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}

.menu-expander {
    position: absolute;
    top: 1rem;
    right: 80px;
}
.site-header {
    border-bottom: 1px solid var(--color-primary-lite);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.site-header__logo {
    display: flex;
    align-items: center;
    width: min-content;
}
.site-header__logo-image {
    width: 32px;
    height: 32px;
    object-fit:contain;
}
.site-header__logo-text {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-brand-main);
    display: none;
}

.site-header__user-avatar{
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--color-secondary-lite);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.site-header__dropdown-item {
    align-self: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__link {
    display: block;
    font-weight: bold;
    padding: 0.6em;
    color: var(--color-primary-dark);
}

.user-wallet__connect-button {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
.user-wallet__address {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.site-header__item_hide {
}
/** Done with all in site header */

.page {
    padding: 2rem;
}
.page__title {
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2em;
}

.book-thumbnail {
    position: relative;
    width: 120px;
    height: 180px;
    border-radius: 5px;

    box-sizing: border-box;

    background: var(--color-primary-lite);
    color: var(--color-primary-dark);
}

.book-thumbnail__cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.book-thumbnail__cover-text {
    padding: 0.5em;

    font-size: 0.8em;
    word-break: break-word;
    text-align: center;
    height: 100%;
}

.book-thumbnail__title {
    font-size: 1.3em;
}

.book-thumbnail__author {
    position: absolute;
    bottom: 1em;
    width: 100%;
    left: 0;
}

.book-thumbnail__for-sale-sign {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    background: var(--color-brand-main);
}

@media (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
}
@media (min-width: 600px) {
    .hide-on-desktop {
        display: none;
    }
    .mobile-only {
        display: none;
    }
    .site-header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--color-primary-lite);
        padding: 1rem;
        padding-right: 5em;
    }
    .site-header__logo {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .site-header__logo-image {
        width: 64px;
        height: 64px;
    }
    .site-header__logo-text {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .site-header__user-avatar{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 28px;
        right: 1rem;
    }
    .site-header__logout {
        position: absolute;
        right: 1rem;
        top: 80px;
        background: white;
        border: 1px solid grey;
        padding: 0.5em 1em;
        width: 14em;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: calc(100% - 120px);
    }
    .menu__link {
        margin: 0 3em 0 0;
    }

}
