:root {
    --color-primary: grey;
    --color-primary-hilite: #a6a6a6;
    --color-primary-lite: #eaeaea;
    --color-primary-dim: #464646;
    --color-primary-dark: #232323;

    --color-on-primary: white;
    --color-on-primary-hilite: black;
    --color-on-primary-lite: var(--color-secondary-dark);
    --color-on-primary-dim: white;
    --color-on-primary-dark: var(--color-primary-lite);


    --color-secondary: #5e5555;
    --color-secondary-hilite: #908484;
    --color-secondary-lite: lightgrey;
    --color-secondary-dim: #3a3535;
    --color-secondary-dark: #161616;

    --color-on-secondary: var(--color-primary-lite);
    --color-on-secondary-hilite: var(--color-secondary-dark);
    --color-on-secondary-lite: var(--color-secondary-dark);
    --color-on-secondary-dim: white;
    --color-on-secondary-dark: var(--color-secondary-lite);

    --color-accent: var(--color-brand-blue);
    --color-on-accent: var(--color-on-brand-blue);


    --color-brand-main: #ae8559;
    --color-brand-orange: #e86d35;
    --color-brand-red: #ca3c3b;
    --color-brand-blue: #507ec4;
    --color-brand-green: #9bd142;
    --color-brand-lightblue: #7bd3dd;

    --color-on-brand-main: var(--color-primary-dark);
    --color-on-brand-orange: var(--color-primary-dark);
    --color-on-brand-red: var(--color-primary-dark);
    --color-on-brand-blue: var(--color-primary-dark);
    --color-on-brand-green: var(--color-primary-dark);
    --color-on-brand-lightblue: var(--color-primary-dark);


    --color-ui-info: blue;
    --color-ui-info-hilite: #00ff00;
    --color-ui-info-lite: lightgreen;
    --color-ui-info-dim: darkgreen;
    --color-ui-info-dark: #033003;

    --color-on-ui-info: white;
    --color-on-ui-info-hilite: var(--color-ui-ok-dark);
    --color-on-ui-info-lite: var(--color-ui-ok-dark);
    --color-on-ui-info-dim: var(--color-primary-lite);
    --color-on-ui-info-dark: var(--color-primary-lite);


    --color-ui-ok: green;
    --color-ui-ok-hilite: #00ff00;
    --color-ui-ok-lite: lightgreen;
    --color-ui-ok-dim: darkgreen;
    --color-ui-ok-dark: #033003;

    --color-on-ui-ok: white;
    --color-on-ui-ok-hilite: var(--color-ui-ok-dark);
    --color-on-ui-ok-lite: var(--color-ui-ok-dark);
    --color-on-ui-ok-dim: var(--color-primary-lite);
    --color-on-ui-ok-dark: var(--color-primary-lite);


    --color-ui-warn: #ff6e00;
    --color-ui-warn-hilite: #f0791f;
    --color-ui-warn-lite: #eaa774;
    --color-ui-warn-dim: #8e5c35;
    --color-ui-warn-dark: #783400;

    --color-on-ui-warn: var(--color-secondary-dark);
    --color-on-ui-warn-hilite: var(--color-primary-dark);
    --color-on-ui-warn-lite: var(--color-ui-warn-dark);
    --color-on-ui-warn-dim: var(--color-primary-lite);
    --color-on-ui-warn-dark: var(--color-primary-lite);


    --color-ui-danger:red;
    --color-ui-danger-hilite: #f02222;
    --color-ui-danger-lite: #dc6767;
    --color-ui-danger-dim: #6c3636;
    --color-ui-danger-dark: #5c0000;

    --color-on-ui-danger: white;
    --color-on-ui-danger-hilite: var(--color-primary-lite);
    --color-on-ui-danger-lite: var(--color-secondary-dark);
    --color-on-ui-danger-dim: var(--color-primary-lite);
    --color-on-ui-danger-dark: var(--color-primary-lite);


    --color-text-link: blue;
}

body {
    margin: 0;
    padding: 0;
}

/* RESETS */

a, a:visited, a:hover, a:focus {
    text-decoration: none;
}

.button {
    background: white;
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    display: inline-block;
    color: var(--color-primary);
}

.button:hover {
    background: var(--color-primary-dim);
    color: white;
}

.button:active {
    background: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    color: white;
}

.button_danger {
    border-color: var(--color-ui-danger-dim);
    color: var(--color-ui-danger-dim);
}

.button_danger:active {
    background: var(--color-ui-danger-dark);
    border-color: var(--color-ui-danger-dark);
    color: white;
}

.button_danger:hover {
    background: var(--color-ui-danger-dim);
    color: white;
}
.input {
    border: 2px solid var(--color-primary);
}
.input-group {
    margin-top: 1em;
}

.input-group__control {
    padding: 0.5em 1em;
    border: 1.5px solid var(--color-secondary-lite);
    border-radius: 6px;
    background: white;
}
.input-group__control::placeholder {
    color: var(--color-primary-dim);
}

.input-group__label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 0.9em;
}

.link {
    color: var(--color-text-link);
    background: none;
    border: none;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}

.site-logo__image {
    max-width: 100%;
    max-height: 100%;
}
.site-logo__text {
    color: var(--color-brand-main);
    text-align: center;
}
.page-title {
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: var(--color-primary);
    font-size: 1em;
    box-sizing: border-box;
}
.hero__text {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    color: var(--color-on-primary);
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    z-index: 1;

    display: flex;
    flex-direction: column;
    background-color: #000000b3;
    align-items: flex-end;
    justify-content: flex-end;
}
.hero__title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}
.hero__subtitle {
    font-size: 0.8em;
    margin: 0;
}
.hero__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu-expander {
    position: absolute;
    top: 1rem;
    right: 80px;
}


.site-header {
    position: relative;
    background: var(--color-primary-lite);
    border-bottom: 1px solid var(--color-primary-dim);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 65px;
    box-sizing: border-box;
}
.site-header__logo {
    display: flex;
    align-items: center;
    width: min-content;
    width: 64px;
}
.site-header__logo-image {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
}
.site-header__logo-text {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-brand-main);
    display: none;
}

.site-header__user-avatar{
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--color-secondary-lite);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.site-header__dropdown-item {
    align-self: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__link {
    display: block;
    font-weight: bold;
    padding: 0.6em;
    color: var(--color-primary-dark);
}

.user-wallet__connect-button {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
.user-wallet__address {
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

.site-header__item_hide {
}
/** Done with all in site header */

.dashboard {
    border: 1px solid var(--color-secondary-lite);
    padding: 1em;
    display: flex;
    justify-content: center;
    grid-gap: 2em;
}

.user-profile {
    padding-top: 2em;
}
.user-profile__header-item {
    margin: auto;
    width: fit-content;
}

.user-profile-avatar {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}
.user-profile__name {
    color: var(--color-secondary);
    font-size: 1.5em;
    font-weight: bold;
}
.user-profile__username {
    color: var(--color-secondary);
    font-weight: bold;
}

.page {
    background: var(--color-primary-lite);
}
.page__title {
    margin: 0;
    padding: 0;
}
.page__item {
    padding: 2rem;
}

.home-page {
    padding: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2em;
}
.list {
    display: grid;
    grid-gap: 2em;
}

.book-preview {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: min-content auto;
}
.book-preview__book-title {
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.2em;
}
.book-preview__text {
}

.cta {
    background: var(--color-secondary-lite);
    padding: 2em;
}
.cta__title {
    color: var(--color-accent);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.cta__copy {
    text-align: center;
}
.cta__button-group {
    display: flex;
    justify-content: center;
    grid-gap: 1em 2em;
    flex-wrap: wrap;
}
.cta-button {
    font-size: 1.2em;
    background: var(--color-accent);
    color: var(--color-on-accent);
    font-weight: bold;
    border: none;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 2em;
    overflow: hidden;
    overflow-x: scroll;
}

.form-notice {
    border: 1px solid var(--color-ui-info);
    background: var(--color-ui-info-hilite);
    color: var(--color-on-ui-info-lite);
    border-radius: 5px;
    padding: 0.8em;
}
.form-notice_error {
    border-color: var(--color-ui-danger-hilite);
    background: var(--color-ui-danger-lite);
    color: var(--color-on-ui-danger-lite);
}

.form-notice__message {
    margin: 0;
    text-align: center;
}
.form__submit {
    background: var(--color-ui-ok);
    color: var(--color-on-ui-ok);
    border-color: var(--color-ui-ok);
    font-size: 1.1em;
}
.form__submit:hover {
    border-color: var(--color-ui-ok-lite);
    background: var(--color-ui-ok-lite);
    color: var(--color-on-ui-ok-lite);
}
.form__submit:focus {
    border: 2px solid var(--color-on-ui-ok-lite);
    background: var(--color-ui-ok-lite);
    color: var(--color-on-ui-ok-lte);
}
.form__submit:active {
    background: var(--color-ui-ok-dark);
    color: var(--color-on-ui-ok-dark);
}
.login-page__site-logo {
    margin: auto;
    width: fit-content;
    height: 100px;
    padding-left: 2.5rem;
}

.login-page__item {
    max-width: 85vw;
    margin: auto;
}

.login-form {
}

.login-form__body {
    border-radius: 5px;
    margin: 1rem 0;
    padding: 2rem;
    background: var(--color-secondary-lite);
    border: 1px solid var(--color-primary-hilite);
}

.login-form__input-group {
    display: block;
}
.login-form__input-control {
    width: 100%;
    box-sizing: border-box;
}
.login-form__submit {
    width: 100%;
    margin-top: 1em;
}
.login-form__switch-context {
    background: none;
    border-color: var(--color-primary);
}

@media (min-width: 400px) {
    .login-page__item {
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
}
@media (min-width: 600px) {
    .hide-on-desktop {
        display: none;
    }
    .mobile-only {
        display: none;
    }
    .site-header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--color-primary-lite);
        padding: 1rem;
        padding-right: 5em;
    }
    .site-header__logo {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .site-header__logo-image {
        width: 64px;
        height: 64px;
    }
    .site-header__logo-text {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .site-header__user-avatar{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 28px;
        right: 1rem;
    }
    .site-header__logout {
        position: absolute;
        right: 1rem;
        top: 80px;
        background: white;
        border: 1px solid grey;
        padding: 0.5em 1em;
        width: 14em;
    }
    .hero {
        height: 45vh;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: calc(100% - 120px);
    }
    .menu__link {
        margin: 0 3em 0 0;
    }
}
@media (min-width: 800px) {
    .book-preview-list {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .book-preview {
        display: grid;
        grid-gap: 1em;
    }
    .page {
    }
}
@media (min-width: 1024px) {
    .page__item {
        width: 80vw;
        margin: auto;
    }
}
.book-cover {
    position: relative;
    border-radius: 5px;
    width: 240px;
    height: 360px;
    font-size: 1.5em;

    box-sizing: border-box;

    background: var(--color-primary-dark);
    color: var(--color-on-primary-dark);
    font-weight: bold;
}
.book-cover_thumbnail {
    width: 120px;
    height: 180px;
    font-size: 1rem;
}
.book-cover__item {
    border-radius: 5px;
}
.book-cover__cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-cover__cover-text {
    padding-top: 2rem;

    word-break: break-word;
    text-align: center;
    height: 100%;
}

.book-cover__title {
    margin: 0;
    font-size: 2.4em;
}
.book-cover_thumbnail__title {
    font-size: 1.3rem;
}

.book-cover__author {
    position: absolute;
    bottom: 1em;
    width: 100%;
    left: 0;
    margin: 0;
}

.book-cover__for-sale-sign {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    background: var(--color-brand-main);
}

@media (min-width: 1024px) {
    .book-cover {
        width: 240px;
        height: 360px;
    }
}
.home-page__book-cover {
    width: 100px;
    height: 150px;
    font-size: 0.8em;
}
.home-page__book-cover-title {
    font-size: 1.3em;
}

@media (min-width: 800px) {
    .home-page__book-cover {
        width: 150px;
        height: 225px;
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .home-page__book-cover {
        font-size: 1.5em;
    }
    .home-page__book-cover-title {
        font-size: 2.4em;
    }
}
.book-cover {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.book-cover > * {
    display: block;
}

.book-cover__img {
    width: 75%;
    border-radius: 5px;
}

.book-title {
    text-align: center;
    font-weight: bold;
}
.book-author {
    text-align: center;
}

.book-metadata-list {
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
}

.book-metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: 0.7em;
}

.book-metadata__title {
    order: 0;
    font-size: 0.8rem;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
}

.book-metadata__value {
    order: 1;
    font-weight: bold;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}

.book-status-tag {
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    width: max-content;
    padding: 0.4em;
    font-size: 0.9rem;
}
.book-status-tag_true {
    border-color: var(--color-ui-ok);
    color: var(--color-ui-ok);
}
.book-status-tag_false {
    border-color: var(--color-ui-dim);
    color: var(--color-ui-danger-dim);
}

.book-chapter-list__item {
    width: 100%;
}

.chapter-reader {
    background: white;
}

.chapter-reader_overlay {
    height: 100vh;
    position: absolute;
    top: 0;

    overflow: scroll;
}

.sell-literature {
}

.sell-literature__title {
    font-size: 1.5rem;
    text-align: center;
}

.sell-literature__input-group {
}

.sell-literature__input {
}

.sell-literature__submmit {
}

.sell-literature__content {
}

@media (min-width: 600px) {
}
.reader {
    background: white;
}
